<table width="100%" border="0" cellspacing="0">

  <tr> 
    <td align="left" bgcolor="#DDDDDD"><big><strong>Queued Informatics Pipeline System (QIPS)</strong></big></td>
   <td align="right" bgcolor="#DDDDDD"> <p><font color="#FFFFFF"><strong><font size="2" face="Verdana, Arial, Helveti
ca, sans-serif">
 <%= link_to "Instances", instances_path %> | 
<%= link_to "Farms", farms_path %> | 
<%= link_to "Roles", roles_path %> | 


</font></strong> 
        </font></p></td>
  </tr>
</table>
<HR>